
body {
    position: relative;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    padding-bottom: 280px;
}

.content-wrapper {
    width: 1240px;
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 15px 0;
    z-index: 4;
    transition: all linear 0.1s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.header.scrolled {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 5px 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.header.scrolled .header_logo img {
    height: 25px;
    margin: 5px 0;
}
.logo {
    font-size: 50px;
    font-weight: 700;
    color: #66BB6A;
}

.header_logo {
    float: left;
}
.header_logo img {
    display: block;
    height: 39px;
    transition: all linear 0.1s;
}
.header_menu {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
}
.header_menu_list {
    list-style-type: none;
    padding: 6px 0;
    margin: 0;
}
.header_menu_list_item {
    display: inline-block;
}
.header_menu_list_item_link {
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 5px 15px;
}
.header_menu_list_item_link:hover {
    color: #66BB6A;
    text-decoration: underline;
}

.btn {
    padding: 8px 65px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;
    border: 0 none;
    outline: 0 none;
    transition: all linear 0.05s;
    display: inline-block;
    box-sizing: border-box;
}
.btn, .btn:hover, .btn:active {
    text-decoration: none;
}
.btn-submit {
    color: #fff;
    background-color: #66BB6A;
    box-shadow: 0 3px 5px rgba(102, 187, 106, 0.05);
}
.btn-submit:hover {
    background-color: #76d17a;
    box-shadow: 0 3px 15px rgba(102, 187, 106, 0.2);
}
.btn-submit:active {
    background-color: #549a57;
    box-shadow: 0 3px 4px rgba(102, 187, 106, 0.2);
}

.main {

}
.main_section {

}
.main_section_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 0.5em;
}
.main_section__home {
    background:
            url(../../static/images/plant.svg) calc(150% + 100px) center no-repeat,
            url(../../static/images/home-bg.svg) center center no-repeat;
    background-size: auto, cover;

    padding: 160px 0;
}
.main_section__home_title {
    font-size: 46px;
    line-height: 64px;
    font-weight: 500;
    color: #000;
}
.main_section__home_description {
    font-size: 18px;
    line-height: 32px;
    color: #263238;
    margin-top: 50px;
}
.main_section__home_title,
.main_section__home_description {
    width: 640px;
    max-width: 100%;
}
.main_section__home_button {
    margin-top: 60px;
}


#stadii {
    margin: 50px 0;
    font-size: 30px;
    font-weight: 600;
}

#stad_1 {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 600
}

#anketa2 {
    font-weight: 300;
    font-size: medium;
    margin: 30px 0;
}


.main_section__about {
    background: url(../../static/images/offers-bg-flower.svg) calc(50% + 500px) 10px no-repeat,
    url(../../static/images/offers-bg.svg) left center no-repeat;
    padding: 50px 0;
}
.main_section__about_description {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #324148;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.about-offers {
    margin-top: 64px;
    display: flex;
    margin-left: -2%;
    margin-right: -2%;
}
.about-offers_item {
    width: 33.333%;
}

.about-offers_item_content {
    margin: 0 4%;
    background: #FFFFFF;
    box-shadow: -1px 13px 20px #F0F2F4;
    border-radius: 8px;
    padding: 11px 10% 30px;
    box-sizing: border-box;
    color: #263238;
    height: 100%;
}
.about-offers_item_img {
    margin: 11px auto;
    text-align: center;
    line-height: 123px;
    height: 123px;
}
.about-offers_item_title {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
}
.about-offers_item_desc {
    font-size: 16px;
    line-height: 24px;
    margin-top: 21px;
}




.main_section__calculate {
    padding: 50px 0;
    background-color: #fefeff;
}
.main_section__calculate_title {
    font-weight: 900;
    font-size: 36px;
    line-height: 1em;
}
.calculate-form {

}
.calculate-form:after {
    clear: both;
    display: block;
    content: '';
}
/*.calculate-form_fields {
    margin-left: 72%;
}
 */
.calculate-form_field {

}
.calculate-form_field_label {
    font-weight: bold;
    margin-top: 20px;
    margin-left: auto;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
}

.calculate-form_field_control input, .calculate-form_field_control select {
    background: #FFFFFF;
    border: 2px solid #8693BC;
    border-radius: 2px;
    height: 44px;
    width: 400px;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}
.calculate-form_field + .calculate-form_field {
    margin-top: 10px;
}
.calculate-form_field_unit {
    font-size: 16px;
    line-height: 26px;
    color: #212121;
}
.calculate-form_checkbox-group {
    margin-top: 10px;
}
.calculate-form_checkbox {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}
.calculate-form_checkbox input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    right: 100%;
    bottom: 100%;
}
.calculate-form_checkbox_mask {
    background: #FFFFFF;
    border: 2px solid #8693BC;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
}
.calculate-form_checkbox input:checked + .calculate-form_checkbox_mask:after {
    content: '';
    display: inline-block;
    border-width: 0 3px 3px 0;
    border-color: #66BB6A;
    border-style: solid;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
}

.calculate-form_checkbox_text {
    margin-left: 8px;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
}
.calculate-form_btn {
    padding-top: 20px;

}
.calculate-form_map {
    float: left;
    width: 70%;
}
.calculate-form_map_label {
    font-size: 18px;
    line-height: 32px;
    color: #324148;
    margin-bottom: 13px;
    margin-top: 13px;

}
.calculate-form_map_container {
    height: 510px;
}


.calculate-form_result {
    clear: both;
    padding-top: 20px;
    text-align: right;
}
.calculate-form_result_item {
    display: inline-block;
    margin-left: 15px;
    background: #FFFFFF;
    box-shadow: -1px 13px 20px #F0F2F4;
    border-radius: 5px;
    padding: 30px;
    overflow: hidden;
    position: relative;
    text-align: left;
    min-width: 28%;
    box-sizing: border-box;
}
.calculate-form_result_item:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #66BB6A;
    box-shadow: -1px 13px 20px #F0F2F4;
    content: '';
}
.calculate-form_result_item_title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}
.calculate-form_result_item_value {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    color: #66BB6A;
    margin-top: 5px;
}


.main_section__team {
    padding: 50px 0;
}
.main_section__team_title {
    font-weight: 900;
    font-size: 36px;
    line-height: 64px;
    margin-bottom: 20px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
}
.team-list_item {
    width: 33.333%;
    margin-bottom: 25px;
}
.team-list_item_content {
    margin-right: 15%;
    padding: 10px 0;
}
.team-list_item_ava {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-size: cover;
}
.team-list_item_name {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-top: 1.25em;
}
.team-list_item_position {
    font-size: 15px;
    color: #66BB6A;
    line-height: 1.25em;
    margin: 0.5em 0;
    font-weight: bold;
}
.team-list_item_social {
    margin: 10px 0 15px;
}
.team-list_item_description {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.55);
}







.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 0;
    background: url(../../static/images/footer-bg.svg) center top no-repeat;
    background-size: cover;
}
.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
.footer_logo {
    width: 172px;
}
.footer-email {
    font-size: 25px;
    margin-top: 18px;
}
.footer-phone {
    font-size: 25px;
    margin-top: 18px;
}
.footer-social {
    margin-top: 18px;
}
.footer-social_link {

}
.footer-social_link_icon {

}
.copy {
    font-size: 12px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}
.copy-link {
    color: inherit;
}



@media screen and (max-width: 990px) {
    .header_menu_list {
        display: none;
    }
    .calculate-form_map {
        float: none;
        width: auto;
    }
    .calculate-form_fields {
        margin-left: initial;
        margin-top: 25px;
    }
    .calculate-form_field {
        float: left;
        width: 25%;
        white-space: nowrap;
    }
    .calculate-form_field + .calculate-form_field {
        margin-top: 0;
    }
    .calculate-form_field_control input, .calculate-form_field_control select {
        width: 75%;
    }
    .calculate-form_checkbox-group {
        clear: both;
        padding-top: 25px;
        padding-bottom: 10px;
    }
    .calculate-form_checkbox {
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px;
    }
    .calculate-form_map_container {
        height: 70vw;
    }
}

@media screen and (max-width: 740px) {
    .calculate-form_field {
        width: 50%;
    }
    .about-offers {
        display: block;
    }
    .about-offers_item {
        width: auto;
    }
    .about-offers_item + .about-offers_item {
        margin-top: 20px;
    }
    .about-offers_item_content {
        padding-left: 3%;
        padding-right: 3%;
    }
    .main_section__home {
        background-size: 0, cover;
    }
}

@media screen and (max-width: 580px) {
    .calculate-form_field {
        width: 100%;
    }
    .calculate-form_checkbox {
        display: block;
    }
}



@media screen and (max-width: 640px) {

    .main_section__home_title {
        font-size: 7vw;
        line-height: 1.25em;
    }
    .main_section__calculate_title,
    .main_section__team_title {
        font-size: 6vw;
    }
    .team-list_item {
        width: auto;
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    .team-list {
        display: block;
    }
    .team-list_item_content {
        margin-right: 0;
    }
    .team-list_item_ava {
        margin-left: auto;
        margin-right: auto;
    }
}